/experiments/
/Bonus/
/files/
/journal/
/doc.txt
/experiments/e2.py
/experiments/ex6.py
/files/output.zip
/presentation.txt
/report.txt
/files/weather.csv
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/pythonProject.iml
/.idea/vcs.xml
/.idea/.gitignore
